@model MembersAreaViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 id="news-heading" class="text-light">The News</h1>
@foreach (var newsItem in Model.NewsItems)
{
<table class="table table-bordered">
    <tbody>
       
            <tr>
                <td class="text-light">@newsItem.Heading</td>
            </tr>
            <tr>
                <td class="text-light">@newsItem.Content</td>
            </tr>
            <tr>
                <td class="text-light" colspan="2">@newsItem.PublishedDate.ToString("dd/MM/yyyy h:mm:ss tt"). Published by: @newsItem.Author</td>
            </tr>
    </tbody>
</table>
}

<h1 id="competitions-heading" class="text-light">Upcoming Competitions</h1>
 @foreach (var competition in Model.Competitions)
        {
<table class="table table-bordered">
    <tbody>
       
            <tr>
                <td class="text-light">@competition.Title</td>
            </tr>
            <tr>
                <td class="text-light">@competition.Content</td>
            </tr>
            <tr>
                <td class="text-light">@competition.Details</td>
            </tr>
            <tr>
                <td class="text-light" colspan="2">@competition.PublishedDate.ToString("dd/MM/yyyy"). Published by: @competition.Author</td>
            </tr>
        
    </tbody>
</table>
}